.imagenav{
	width: 75px;
}
.logonav{
    width: 100%;
}
.separation{
	margin-top: 200px;
	color: blue;
	border: none;
	height: 350px;
}
#espaceConnexion{
	width: 100%;
}
h2{
	margin-top: 50px;
	margin-bottom: 50px;
}
.warning{
	color: red;
}
.villeTrouve:hover{
	background-color: gray;
}
.villeTrouve{
	background-color: white;
}
#villesTrouve{
	position: absolute;
	z-index: 100;
}
#ui-id-1{
    border-color: gray;
    padding-left: 0;
}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: rgb(117, 150, 165);
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: red;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #003149;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(170, 195, 206);
    border-radius: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
.ui-helper-hidden-accessible{
    display: none;
}
.align-text-bottomme{
    position: absolute;
    bottom: 0;
}
.liensanscouleur{
    color: black;
    text-decoration: none;
}
.liensanscouleur:hover{
    color: black;
    text-decoration: none;
}
.descriptionTxt{
    margin-top: 20px;
    margin-bottom:  20px;
}
.bordered{
    border-left: 3px dashed black;
    height: 100%;
    margin-left: 7px;
    min-height: 50px;
}

.titreFavoris{
    font-weight: bold;
}

.btn-profil{
    white-space: normal;	
}

.pre-scrollable{
    height:34rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #aaaaaa;
}

.textarea-fixe{
    resize: none;
}

#footer{
    background-color: #323232;
    /* margin-top: 25vh; */
}

.titre-footer{
    font-size:1.7rem;
}

.lien-footer{
    display:block;  
}
.lien-footer:hover{
    text-decoration: none;
    font-weight: bold;
    color:white;
}

.text-footer{
    color: #AAAAAA;
}

.interlocuteurs{
    margin-top: 0.5rem;
    background-color: #d8d8d8;
}

.interlocuteurs:hover{
    cursor:pointer;
    font-weight: bold;
    background-color: #eeeeee;
}

.messages{
    margin-top: 0.5rem;
    background-color: #cccccc;
    padding: 0.25rem;
}

.prenomDiscussion{
    font-weight: bold;
    margin-bottom: 0rem;
}

.dateHeureDiscussion{
    font-size: 0.7rem;
    margin-bottom: 0rem;
}

#titreContacts{
    color:white;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-weight: bold;
    background-color: #323232;
}

#titreMessages{
    color:white;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-weight: bold;
    background-color: #434343;
}

.sectionProfil{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #dddddd;
}

#img-profil{
    margin-bottom: 0.5rem;
    max-height: 200px;
}
.label-profil{
    margin-right: 0.2rem;
    font-weight: bold;
}

#description{
    background-color: #eaeaea;
}

.commentaire-profil{
    background-color: #dddddd;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.description-commentaire-profil{
    background-color: #eaeaea;
}

.lien-noms-commentaires-profil{
    color:#555555;
    font-weight: bold;
}

.lien-noms-commentaires-profil:hover{
    color:black;
    text-decoration: none;
}

   
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.checkermed{
    margin-top: -7px;
}

.box{
    position: relative;
    width: 100px;       /* desired width */
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
}


span{
     word-wrap: break-word;
}
#dropcom::after{
    display: none;
}
#dropcom{
    color: black;
}
.detailTrajet{
    margin: 0;
}

.photoVoitureProfil{
    width: 30vw;
    height: 30vh;
}

#inscriptionbutton{
    margin-bottom: 5px;
}
.composant{
    overflow: auto;
    padding : 1em ;
    /* border-radius: 10px; */
    /* margin-bottom: 5px; */
}
.couleurTrajet{
    background-color: #607d8b25;
    border-radius: 1em; 
    padding: 2em 2em 1em 2em;
}
.info_trajet{
    /* margin: 1em; */
    padding: 2em;
}
.btn_credit{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.buttonRecherche{
    margin-right: 1rem;
    
}
#divHauteRes2{
    padding: 1em;
}
/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
/*
 * Callout styles copied from Bootstrap's main docs.
 */
/* Common styles for all types */


#img-photo-vehicule{
    width: 100%;

}




/*test*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Slab|Staatliches|Ubuntu');

/*


    font-family: 'Ubuntu', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Roboto Slab', serif;

    font-family: 'Staatliches', cursive;


*/

body {
color:black;
background-color: rgb(184, 211, 223);
font-family: 'Ubuntu', sans-serif;
}

/* FOND D ECRAN */
.frontpage{
    background-image: url(imgbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1em;
}
/*BOX DE RECHERCHE TRAJET*/
.search_container{
    margin-top: 25vh;
    margin-left:2em;
    margin-bottom: 30vh;
    margin-right:2em;
    /* background-color: #f1f1f1; */
    background-color: rgb(170, 195, 206);
    border-radius: 1em;
    
}
.search_container_result{
    margin-top: 5vh;
    margin-bottom: 2vh;
    background-color: rgb(170, 195, 206);
    border-radius: 1em;
}

.search_headline{
    font-size: 22px;
    color: #003149;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.search_mini_headline{
    color: #003149;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.buttonRecherche{
    background-color: #00496d;
    border: 1px solid #00496d;
}
.buttonRecherche:hover{
    background-color: #003149;
    border: 1px solid #003149;
}

.buttonSubmitAccueil, .buttonRapetisseForm, .buttonAgranditForm{
    width: 10em;
}

#buttonTrieRes1{
    color:grey;
}

.resultatTrajet{
    background-color: rgb(170, 195, 206);
    padding: 1em;
    border-radius: 1em;
    color:#003149;
}


/*COMPOSANT*/

#composants h4{
    font-size: 18px;
    font-weight: bold;
    
}

#composants{
    font-size: 14px;
    color : #003149 ;
    margin-bottom: 2em;
    /* border: 1px solid black;
    background-color:black; */
     
}

.headline_composant{
    /* border:1px solid red; */
    padding: 0.5em;
    /* background-color:rgb(148, 176, 189); */
    font-family: 'Roboto Slab', serif;

}

.component_composant{
    /* border:1px solid red; */
    padding: 0.5em;
    color : #003149 ;
    background-color:rgb(117, 150, 165);
    /* border-radius: 5em;  */
}
.component_composant a{
    color : #003149 ;
}
.component_composant a:hover{
    color : #001f2e ;
}

.composant{
    margin-bottom: 1em;
    background-color:rgb(150, 174, 184);
    /* border-radius: 1em;  */
}


/*nav*/
nav{
    background-color: #323232;
    color: white;
    margin-bottom: 1em;
}

.nav-link{
    color: white !important; 
}
/* .nav-item a{
    background-color: #434343;
} */


/*proposer trajet*/

.contenu_page{
    background-color: #ebebeb;
    padding: 2em;
    margin: 2em;
    border-radius: 1em;
    font-size: 14px;
}

.contenu_page h2 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    margin : 0.6em;
}

.contenu_page h3 {
    font-size: 24px;
    margin: 0.7em;
    /* font-family: 'Roboto Slab', serif; */
}

.btnSupprEtape{
    color: rgb(255, 255, 255);
    background-color: #434343;
}

.label_trajet{
    margin-top: 0.5em;
}
.input_price{
    margin-bottom: 1em;
}

.btn_trajet{
    background-color: #434343;
    border: 1px solid #434343;
}
.btn_trajet:hover{
    background-color: #797979;
    border: 1px solid #797979;
}
.btn_ajout_vehicule{
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Trajet */
.btn_valide, .btn_retire{
    color: white;
}
.btn_valide{
    background-color: #007c42;
}
.btn_valide:hover{
    background-color: #00ca6c;
}
.btn_retire{
    background-color: #920000;
}
.btn_retire:hover{
    background-color: #f80000;
}

.profil_trajet, .mot_du_conducteur{
    background-color: #607d8b25;
    border-radius: 1em;
    padding: 2em;
}

.photo_profil_trajet{
    border-radius: 50%;
}

/* .mot_du_conducteur{
    background-color: ; 
} */
/* 
@media (max-width: 720px){
    .photo_profil_trajet{
        width:50px;
    }
}
@media (min-width: 721px){
    .photo_profil_trajet{
        width:100px;
    }
} */
/*fintest*/